/*FONT-FACE*/

@font-face{
	font-family:'Helvetica Neue Ltd Std Thin';
    src:url('fonts/helveticaNeueThin/HelveticaNeueLTStd-Th.otf')format('opentype');
}

@font-face{
	font-family:'Helvetica Neue Ltd Std Ultra Light';
    src:url('fonts/HelveticaNeueLTSTD/helveticaNeueUltraLight/HelveticaNeueUltraLight.eot')format('eot'),
        url('fonts/HelveticaNeueLTSTD/helveticaNeueUltraLight/HelveticaNeueUltraLight.woff')format('woff');
}
